* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #efeceb;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

main {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

nav ul {
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    display: block;
}

label,
input {
    display: inline-block;
}

img {
    max-width: 100%;
}

/*BEGIN HEADER*/
header {
    background-color: #543a29;
    color: white;
    padding: 5px 10px;
}

header nav a {
    padding: 15px 20px;
    margin-right: 10px;
}

header nav a,
header nav a:visited {
    color: white;
    text-transform: capitalize;
    transition: color 500ms ease-in-out;
}

header nav a:hover {
    color: #dcd6d3;
    transition: color 500ms ease-in-out;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#header_logo {
    height: 30px;
    vertical-align: middle;
    width: auto;
}

/*END HEADER*/

/*BEGIN FOOTER*/
footer {
    margin-top: 50px;
    min-height: 100px;
    background-color: #543a29;
    color: #fff;
    padding: 5px 10px;
}

footer nav {
    text-align: right;
}

footer nav a,
footer nav a:visited {
    text-decoration: none;
    color: white;
}

footer nav a:hover {
    color: #dcd6d3;
    transition: color 500ms ease-in-out;
}

#footer_insta_logo {
    width: 35px;
    height: auto;
    filter: invert(1);
    -webkit-filter: invert(1);
    vertical-align: middle;
}

/* END FOOTER */

/* BEGIN HEADINGS*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'matcha', 'Nunito Sans', sans-serif;
    margin: 0;
    font-weight: light;
    color: #543a29;
}

h1 {
    font-size: 48px;
    font-weight: lighter;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4,
h5,
h6 {
    font-size: 24px;
}

/*END HEADINGS*/

/*BEGIN FORMS*/
label,
input,
select,
option,
fieldset,
legend {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

input,
select,
textarea {
    border: 1px solid #543a29;
    padding: 7px;
    border-radius: 3px;
    margin: 5px;
}

button,
input[type="submit"],
a.btn,
a.button {
    appearance: button;
    background-color: #543a29;
    color: #fff;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    border: none;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

button:hover {
    color: #543a29;
    background-color: #dcd6d3;
    transition: all ease-in-out 500ms;
}

form button {
    margin: auto;
    display: block;
}

form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form fieldset {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    form {
        width: auto;
    }
}

fieldset {
    border: none;
}

fieldset legend {
    font-size: 24px;
    margin-bottom: 10px;
}

/*END FORMS*/

/*BEGIN CATALOGUE*/
#catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.biere-block img {
    height: 500px;
    transition: filter 0.5s ease;
}

.biere-block {
    gap: 20px 20px;
    margin: 20px;
    background-color: var(--beer_bgcolor, #8f7d72);
    color: var(--beer_color, white);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.biere-block a {
    text-decoration: none;
    color: inherit;
}

.biere-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    transition: filter 0.5s ease;
}

.biere-title:hover {
    filter: brightness(1);
    transition: filter 0.5s ease;
}

.biere-block:hover img {
    filter: saturate(0.5);
    transition: filter 0.5s ease;
}

.biere-order {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 500ms ease-in-out;
}

.biere-order:hover {
    background: rgba(255, 255, 255, 0.4);
    transition: background-color 500ms ease-in-out;
}

.biere-prix {
    text-align: right;
    font-size: 18px;
}

#search {
    min-width: 50%;
    margin: 15px auto;
    text-align: center;
    display: block;
    border: none;
}

/*END CATALOGUE*/

/*BEGIN BIERE*/
.biere-block.fullview-block {
    width: 35%;
    display: inline-block;
}

.biere-infos {
    width: calc(35% - 42px);
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}
.biere-block.fullview-block:hover img {
    filter: none;
}
.biere-infos .biere-prix {
    float: right;
}